body {
    padding: 50px 100px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}
.table {
    text-align: center;
}

form {
    text-align: center;
    margin: 10px auto;
}

label {
    font-weight: bolder;
}

